<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">

<head>
    <meta name="x-apple-disable-message-reformatting">
    <meta charset="UTF-8">
    <title>New follower</title>
    <title>
        <span th:text="#{email.review.title}"/>
    </title>
    <style>
        .bg{
            background: linear-gradient(180deg, #FFFCFC 0%, #F5F1E7 42.19%, #F8EBCA 99.99%);
        }
        h1{
            color: #EF7765;
            font-size: 32px;
            font-weight: bold;
        }
        p{
            font-size: 16px;
            color: #5A5044;
        }

    </style>
<!--    <link th:href="@{https://fonts.googleapis.com}" rel='preconnect'/>-->
<!--    <link th:href="@{https://https://fonts.gstatic.com}" crossorigin rel='preconnect'/>-->
<!--    <link th:href="@{https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap}" rel='preconnect'/>-->

</head>


<body class="bg">
    <div style="padding: 1em 3em">
        <h1>Apuntea</h1>
        <p th:text="${reviewer} + ' ' + #{email.review.createdReview}"/>
        <p th:text="${content}"/>
        <span th:each="i : ${#numbers.sequence(1, score, 1)}">⭐ </span>
        <p th:text="#{email.review.thanks}"/>
    </div>
</body>

</html>

