.sidebar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: 100vh;
    width: 50px;
    background-color: var(--dark-bg);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 1rem;
}

.sidebar.fixed {
    position: fixed;
    top: var(--header-height); /* Alinea la barra al borde inferior de la barra de navegación */
    bottom: 0;
}