/*************************/
/*DROPDOWN INPUT AUTOCOMP*/
/*************************/

.dropdown-autocomplete {
  @apply absolute top-full left-0 w-full max-h-[160px] overflow-y-auto bg-bg border border-text/20 rounded-b-xl z-10;
}

.dropdown-autocomplete li {
  padding: 8px;
  cursor: pointer;
}

.dropdown-autocomplete li:hover {
  @apply bg-light-pri;
}

.dropdown-autocomplete li:focus {
  @apply bg-light-pri;
}

.dropdown-autocomplete li.selected {
  @apply bg-light-pri;
}

/* width */
.dropdown-autocomplete::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
.dropdown-autocomplete::-webkit-scrollbar-track {
  @apply bg-pri;
}

/* Handle */
.dropdown-autocomplete::-webkit-scrollbar-thumb {
  @apply bg-sec;
}

/* Handle on hover */
.dropdown-autocomplete::-webkit-scrollbar-thumb:hover {
  @apply bg-dark-sec;
}

/*************************/
/*DROPDOWN PROFILE BUTTON*/
/*************************/

.dropdown {
  @apply relative;
}

.dropdown-menu {
  @apply absolute rounded-xl border border-text/10 py-4 min-w-36 bg-dark-bg;
}

.dropdown-menu.right {
  @apply right-0;
}

.dropdown-menu.left {
  @apply left-0;
}

.dropdown-menu > li {
  @apply bg-transparent;
}

.dropdown-menu > li > button,
.dropdown-menu > li > a {
  @apply w-full h-full bg-transparent m-0 text-text rounded-none flex justify-start;
  font: inherit;
}

.dropdown-menu > li > button:hover,
.dropdown-menu > li > a:hover {
  @apply bg-pri text-bg;
}

.dropdown-menu > li > br {
  @apply border-t border-text/10 my-2;
}

.dropdown-divider {
  @apply border-t border-text/10 my-3;
}
