.index-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
  padding: 0 5rem;
  width: 100%;
  margin-top: 4rem;

}

.index-card {
  @apply bg-bg rounded-3xl shadow-xl px-12 py-6 flex flex-col items-center justify-center gap-2 min-h-[300px] cursor-pointer object-contain;
  @apply hover:scale-105 hover:border hover:border-pri hover:bg-light-pri transition-all duration-300;
}

.index-card:hover .icon-index-card {
  @apply fill-dark-pri;
}

.icon-index-card {
  @apply w-20 h-20;
}

.index-card:hover>* {
  @apply text-dark-pri;
}