/* Modal.css */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-overlay {
  @apply w-full h-full fixed flex justify-center items-center bg-black bg-opacity-50 z-10;
  top: 0;
  left: 0;
}

.modal-animation {
  animation: fadeIn 0.3s ease-in;
}
