.note-info {
  display: grid;
  grid-template-areas: 'bnav bnav bnav' 'header header empty' 'main main aside';
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 40px 5rem calc(100% - 40px - 5rem);
}

.note-header {
  @apply px-3 py-3;
  grid-area: header;
}

.note-frame {
  @apply pb-8;
  grid-area: main;
}

.note-img-container {
  @apply flex justify-center;
  background-color: var(--dark-text);
}

.note-img-container img {
  display: block;
  height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
  width: auto; /* Ajusta automáticamente el ancho para evitar deformaciones */
  max-width: 100%;
}

.reviews {
  @apply px-4 pb-8 flex flex-col;
  grid-area: aside;
}

.reviews-container {
  overflow-y: auto;
}
.user-profile-picture {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.review-text {
  min-height: 2em !important;
}
