.mini-nav {
  border-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.tab {
  border-radius: 8px 8px 0 0;
  padding: 7px 20px;
  background-color: var(--pri);
  color: var(--bg);
  font-weight: 700;
}

.tab:not(.active) {
  opacity: 80%;
}

.tab:not(.active):hover {
  color: var(--pri);
  background-color: var(--bg);
  outline: var(--pri) 1px solid;
}

.file-list {
  /* grid repeat fit, all the columns with the same width, align left, same space around*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  justify-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.file-name {
  width: 8em;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  /*    show also the last word of the name*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.heart-container {
  position: absolute;
  top: -25px;
  right: 9px;
  width: fit-content;
  height: fit-content;
  z-index: 1;
}
