.reviews-comments-button {
    width: 100%;
    color: var(--bg);
    background-color: var(--primary);
    pointer-events: none; /* TODO: delete later */
}

.reviews-comments {
    overflow-y: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.reviews-comment {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200ch;
}

.note-side-info{
    height: 75vh;
}

#noteViewer {
    transition: margin-left .5s;
}

.container-img-note {
    max-width: 100%;
    background-color: var(--dark-text);
    display: flex;
    justify-content: center;
}


.container-img-note img {
    display: block;
    height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
    width: auto; /* Ajusta automáticamente el ancho para evitar deformaciones */
    max-width: 100%;
    max-height: calc(100vh - 148px);
}

.user-profile-picture {
    width: 45px;
    height: 45px;
    margin-right: 0.5em;
    border-radius: 50%;
    object-fit: cover;
}
