.reviews-comments-button {
    width: 100%;
    color: var(--bg);
    background-color: var(--primary);
    pointer-events: none; /* TODO: delete later */
}

.reviews-comments {
    overflow-y: auto;
    height: 50%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.reviews-comment {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200ch;
}

.note-side-info{
    height: 75vh;
}

#noteViewer {
    transition: margin-left .5s;
}
