.button-white {
	border: 0;
	background-color: var(--bg);
	color: var(--text);
}

.button-white:hover {
	background-color: var(--dark-bg);
	color: var(--dark-text);
}

.button-primary {
	border: 0;
	background-color: var(--primary);
	color: var(--bg);
}

.button-primary:hover {
	background-color: var(--dark-primary);
	color: var(--bg);
}

.button-outlined-primary {
	border: 1px solid var(--primary);
	background-color: transparent;
	color: var(--primary);
}

.button-outlined-primary:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--bg);
}

.button-outlined-secondary {
	border: 1px solid var(--secondary);
	background-color: transparent;
	color: var(--secondary);
}

.button-outlined-secondary:hover {
	border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--bg);
}

.button-secondary {
	border: 0;
	background-color: var(--secondary);
	color: var(--bg);
}

.button-secondary:hover {
	background-color: var(--dark-secondary);
	color: var(--bg);
}

.button-shadow:hover {
	border-color: var(--primary);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--bs-focus-ring-color);
}

.button-expansion {
	position: relative;
	overflow: hidden;
	transition: transform 0.3s, background-color 0.3s;
}

.button-expansion::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	background-color: var(--dark-text);
	opacity: 0.3;
	border-radius: 25px;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0.8s, background-color 0.8s;
	pointer-events: none;
}

.button-expansion:hover::before {
	transform: translate(-50%, -50%) scale(50);
	background-color: rgba(0, 0, 0, 0);
}

.page-size-button {
	color: var(--dark-primary);
}

