.color-option {
    cursor: pointer;
}

.color-radio:checked+.color-option {
    transform: scale(1.4);
}

.fill-BBBBBB {
    filter: var(--filter-BBBBBB);
}

.fill-16A765 {
    filter: var(--filter-16A765);
}

.fill-4986E7 {
    filter: var(--filter-4986E7);
}

.fill-CD35A6 {
    filter: var(--filter-CD35A6);
}
