/*noinspection CssReplaceWithShorthandSafely*/
* {
    font-family: 'Lato', sans-serif !important;
    color: var(--text);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body {
    /* Evita la repetición del fondo */
    background-size: cover;
    background-blend-mode: lighten;
    background: linear-gradient(180deg, var(--gradient-top) 0%, var(--gradient-mid) 42.19%, var(--gradient-bot) 99.99%) no-repeat fixed;
}

button {
    font-weight: 700 !important;
}

input::placeholder {
    color: var(--text) !important;
}

p {
    margin: 0;
}

h5 {
    margin-bottom: 0;
}

h6 {
    margin-bottom: 0;
}

h3 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    /* Quitar subrayado */
}

textarea.form-control {
    resize: none !important;
}

textarea::placeholder {
    color: var(--text) !important;
    opacity: 1;
}

h1 {
    font-size: 2rem !important;
}

