.icon-xs {
	width: 15px;
	height: 15px;
}

.icon-s {
	width: 20px;
	height: 20px;
}

.icon-m {
	width: 25px;
	height: 25px;
}

.icon-l {
	width: 30px;
	height: 30px;
}

.icon-xl {
	width: 35px;
	height: 35px;
}

.icon-xxl{
	width: 40px;
	height: 40px;
}

.fill-primary {
	filter: var(--filter-primary);
}

.fill-dark-primary {
	filter: var(--filter-dark-primary);
}

.fill-secondary {
	filter: var(--filter-secondary);
}

.fill-dark-secondary {
	filter: var(--filter-dark-secondary);
}

.fill-text {
	filter: var(--filter-text);
}

.fill-dark-text {
	filter: var(--filter-dark-text);
}

.fill-bg {
	filter: var(--filter-bg);
}

.input-group-icon {
	min-width: auto !important;
}