/* Custom CSS to change the background color of active tab */
 .nav-tabs .nav-link.active {
     background-color: var(--primary);
     color: var(--dark-bg);
     font-weight: bold;
 }

 .nav-link{
     color: var(--text);
 }

.nav-link:hover, .nav-link:focus {
    color: var(--text);
}

.tab-content {
/*    borders with shadow*/
    border-top: none;
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
    padding: 1rem;
    background-color: var(--bg);
}

/*border to non active tab*/
.nav-tabs .nav-link:not(.active) {
    border: 1px solid var(--bg);
    border-bottom: none;
}

/*container width */
.container {
    max-width: 80%;
}

#profile-picture{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.1em solid var(--primary);
    object-fit: cover;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
}

#preview-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
}

#preview-image:hover {
    transition: all 0.2s ease-in;
    transform: scale(1.1);
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.selected-image{
    max-width: 30%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;

}

.hidden-pencil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    width: 4em;
    height: 4em;
    filter: invert(70%);
}

.selected-image:hover .hidden-pencil {
    opacity: 1;
}

.selected-image:hover {
    opacity: 0.5;
    cursor: pointer;
}

