.mw-500 {
	max-width: 500px;
}

.mw-600 {
	max-width: 600px;
}

.mh-300 {
	max-height: 100px;
}

.h-100-navs {
	height: calc(100vh - 132px);
}

.h-100-nav {
	height: calc(100vh - 60px);
}

.mh-100-navs {
	max-height: calc(100vh - 148px);
}