/* TEXT COLORS */
/* Also have text-primary / text-secondary / text-white from overrided bs */

.text-primary {
	color: var(--primary);
}

.text-dark-primary {
	color: var(--dark-primary);
}

.text-secondary {
	color: var(--secondary);
}

.text-dark-secondary {
	color: var(--dark-secondary);
}

.text-bg {
	color: var(--bg)
}

.text-dark-bg {
	color: var(--dark-bg)
}

.text-s {
	font-size: 14px;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.text-danger{
	color: var(--danger);
}