<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
  <meta name="x-apple-disable-message-reformatting">
  <meta charset="UTF-8">
  <title th:text="#{email.unban.title}"></title>
  <style>
    *{
      margin: 0;
      padding: 0;
    }
    .bg{
      background: linear-gradient(180deg, #FFFCFC 0%, #F5F1E7 42.19%, #F8EBCA 99.99%);
    }
    h1{
      color: #EF7765;
      font-size: 32px;
      font-weight: bold;
    }
    p{
      font-size: 16px;
      color: #5A5044;
    }

  </style>
</head>

<body class="bg">
<div style="padding: 1em 3em">
  <a th:href="${url}" style="text-decoration: none"><h1>Apuntea</h1></a>
  <p th:text="#{email.unban.hasBeenUnbannedAdmin}"/>
  <p th:text="#{email.thanks}"/>
  <p th:text="#{email.signature}"/>
</div>
</body>

</html>

