.navbar {
	background-color: var(--dark-bg);
	border: none;
	height: 60px;
}

.navbar-brand {
	font-size: 2rem;
	font-weight: 900;
	/* Black */
}

.nav-icon-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: transparent; /* Fondo transparente por defecto */
	border: none; /* Sin borde */
	border-radius: 50%; /* Hace el botón circular */
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.nav-icon-button:hover {
	background-color: rgba(var(--text-rgb), 0.1); /* Fondo ligeramente transparente al pasar el mouse */
}

/* Estilo para el botón en :active */
.nav-icon-button:active {
	outline: none; /* Elimina el borde al hacer clic */
}

.nav-icon-button.active {
	background-color: rgba(var(--text-rgb), 0.1);
	scale: 1.2;
}

/********************/
/** Bottom Navbar **/
/*******************/

.bottom-navbar {
	position: absolute;
	top: calc(var(--nav-height));
	left: var(--sidebar-width);
	display: flex;
	align-items: center;
	background-color: var(--primary);
	border-radius: 25px 0 25px 0;
	min-width: 300px;
	width: fit-content;
	height: 40px;
	padding: 0 30px;
}


.bottom-navbar-item {
	font-size: large;
	font-weight: bold;
	color: var(--bg);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100px;
}

.bottom-navbar-item.bn-title{
	max-width: 25rem !important;
}

.bottom-navbar-item:hover {
	color: var(--dark-bg);
}

.bottom-navbar-item.active {
	color: var(--dark-bg);
}

.bn-dropdown-hierarchy-button {
	/* Button without anything, only show the text */
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	color: var(--bg);
}

.bn-dropdown-hierarchy-button::after {
	content: none;
}

.bn-dropdown-title-button{
	border-radius: 25px 0 25px 0;
	background-color: transparent;
	border: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	color: var(--bg);
}

.bn-dropdown-title-button:hover{
	background-color: var(--dark-primary);
	transition: background-color 0.2s ease;
}

.bn-dropdown-title-button:hover .dropdown-icon{
	filter: var(--filter-bg);
}


/*************/
/** Sidebar **/
/*************/

.sidebar {
	height: calc(100vh - var(--nav-height));
	width: var(--sidebar-width);
	background-color: var(--dark-bg);
	padding-top: 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.sidebar.right::before {
	content: "";
	background-color: transparent;
	top: var(--nav-height);
	left: 60px;
	height: 50px;
	width: 30px;
	border-top-left-radius: 25px;
	box-shadow: 0 -25px 0 0 var(--dark-bg); /* This is where the magic happens! */

	position: absolute;
	z-index: -1;
}

.sidebar.left::before {
	content: "";
	background-color: transparent;
	top: var(--nav-height);
	right: 60px;
	height: 50px;
	width: 30px;
	border-top-right-radius: 25px;
	box-shadow: 0 -25px 0 0 var(--dark-bg); /* This is where the magic happens! */

	position: absolute;
	z-index: -1;
}

/*************/
/** Search ***/
/*************/

.search-container {
	position: relative;
	height: 40px;
	width: 200px; /* Ajusta el ancho según sea necesario */
	overflow: hidden;
}

@media (max-width: 1024px) {
	.search-container {
		display: none;
	}
}


.search-icon {
	width: 40px;
	position: absolute;
	right: 0;
	z-index: 1;
}

.search-input {
	position: absolute;
	width: 0;
	padding: 8px 12px;
	border: none;
	outline: none;
	background-color: rgba(var(--text-rgb), 0.1);
	transition: width 0.4s ease, padding-left 0.4s ease; /* Transiciones para el ancho y el padding-left */
	border-radius: 50px;
	color: var(--dark-text);
}

.search-container:hover .search-input {
	width: 100%;
}

.search-input:focus {
	width: 100%;
}

.search-container:not(:hover) .search-input:not(:focus){
	transition: width 0.4s ease, padding-left 0.4s ease, background-color 0.4s ease; /* Agrega una transición inversa */
	width: 0;
	padding-left: 0;
	background-color: transparent;
	z-index: 0;
}

/**************/
/** Buttons ***/
/**************/

.login-register-button {
	border: 1px solid var(--primary);
	background-color: transparent;
	color: var(--primary);
	border-radius: 50px;
}

.login-register-button:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--bg);
}

.login-register-button.active {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--bg);
	cursor: default;
}

.login-register-button.register {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.login-register-button.login {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.nav-user-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 12px;
	margin: 2px 0;
	background-color: var(--dark-primary); /* Fondo transparente por defecto */
	border: none; /* Sin borde */
	border-radius: 50px; /* Hace el botón circular */
	transition: background-color 0.2s ease;
	gap: 0.5rem;
}

.nav-user-button img {
	filter: var(--filter-bg);
}

.nav-user-button:hover {
	background-color: transparent; /* Fondo ligeramente transparente al pasar el mouse */
}

.nav-user-button:hover img {
	filter: var(--filter-dark-primary);
}

.logged-in{
	font-size: 13px;
	margin-right: 3em;
	opacity: 0.7;
}

.dropdown-menu {
	border-radius: 15px;
}
