.navbar {
	background-color: transparent;
	border: none;
	height: 60px;
}

.navbar-brand {
	font-size: 2rem;
	font-weight: 900;
	/* Black */
}

.nav-icon-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: transparent; /* Fondo transparente por defecto */
	border: none; /* Sin borde */
	border-radius: 50%; /* Hace el botón circular */
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.nav-icon-button:hover {
	background-color: rgba(var(--text-rgb), 0.1); /* Fondo ligeramente transparente al pasar el mouse */
}

/* Estilo para el botón en :active */
.nav-icon-button:active {
	outline: none; /* Elimina el borde al hacer clic */
}

.bottom-navbar {
	display: flex;
	align-items: center;
	background-color: var(--primary);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	min-width: 300px;
	width: fit-content;
	height: 40px;
	padding: 0 30px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.bottom-navbar-separator {
	font-size: large;
	font-weight: bold;
	color: var(--dark-bg);
	padding: 0 15px;
	cursor: default;
}

.bottom-navbar-item {
	font-size: large;
	font-weight: bold;
	color: var(--bg);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100px;
}

.bottom-navbar-item.bn-title{
	max-width: 25rem !important;
}

.bottom-navbar-item:hover {
	color: var(--dark-bg);
}

.bottom-navbar-item.active {
	color: var(--dark-bg);
}

.bottom-navbar-dropdown-button {
	/* Button without anything, only show the text */
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	color: var(--bg);
}

.bottom-navbar-dropdown-button::after {
	content: none;
}

.search-container {
	position: relative;
	height: 40px;
	width: 200px; /* Ajusta el ancho según sea necesario */
	overflow: hidden;
}

@media (max-width: 1024px) {
	.search-container {
		display: none;
	}
}

.search-icon {
	width: 40px;
	position: absolute;
	right: 0;
	z-index: 1;
}

.search-input {
	position: absolute;
	width: 0;
	padding: 8px 12px;
	border: none;
	outline: none;
	background-color: var(--dark-bg);
	transition: width 0.4s ease, padding-left 0.4s ease; /* Transiciones para el ancho y el padding-left */
	border-radius: 50px;
}

.search-container:hover .search-input {
	width: 100%;
}

.search-input:focus {
	width: 100%;
}

.search-container:not(:hover) .search-input:not(:focus){
	transition: width 0.4s ease, padding-left 0.4s ease, background-color 0.4s ease; /* Agrega una transición inversa */
	width: 0;
	padding-left: 0;
	background-color: transparent;
	z-index: 0;
}

.login-register-button {
	border: 1px solid var(--primary);
	background-color: transparent;
	color: var(--primary);
}

.login-register-button:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--bg);
}

.login-register-button.active {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--bg);
	cursor: default;
}

.login-register-button.register {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.login-register-button.login {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.dropdown-button-container{
	cursor: pointer;
	border-color: var(--dark-primary) 1px;
	border-radius: 50px;
}


.dropdown-button-container:hover{
	background-color: var(--dark-primary);

	transition: background-color 0.2s ease;
}

.dropdown-button-container:hover .dropdown-icon{
	filter: var(--filter-bg);
}

.logged-in{
	font-size: 13px;
	margin-right: 3em;
	opacity: 0.7;
}

.dropdown-menu {
	border-radius: 15px;
}
