.navbar {
	background-color: transparent;
	border: none;
	height: 60px;
}

.navbar-brand {
	font-size: 2rem;
	font-weight: 900;
	/* Black */
}

.nav-icon-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: transparent; /* Fondo transparente por defecto */
	border: none; /* Sin borde */
	border-radius: 50%; /* Hace el botón circular */
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.nav-icon-button:hover {
	background-color: rgba(var(--text-rgb), 0.1); /* Fondo ligeramente transparente al pasar el mouse */
}

/* Estilo para el botón en :active */
.nav-icon-button:active {
	outline: none; /* Elimina el borde al hacer clic */
}

.nav-user-circle {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: var(--dark-primary);
	filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.10));
}

.bottom-navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--primary);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	min-width: 300px;
	width: 50%;
	height: 40px;
	padding: 0 30px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.bottom-navbar-item {
	font-size: large;
	font-weight: bold;
	color: var(--bg);
}

.bottom-navbar-item:hover {
	color: var(--dark-bg);
}

.bottom-navbar-item.active {
	color: var(--dark-bg);
}