#horizontalList {
  display: none;
}

#boxList {
  display: none;
}

/*******************/
/* HORIZONTAL LIST */
/*******************/

.search-actions {
  text-align: right;
}

.search-actions button {
  visibility: hidden;
}

.note-found:hover {
  background-color: rgba(var(--secondary-rgb), 0.5);
}

.note-found:hover .search-actions button {
  visibility: visible;
}

.note-found-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1024px) {
    .note-found-title {
        max-width: 100px;
    }

}

.active-note-found {
  background-color: rgba(var(--secondary-rgb), 0.7);
}

.active-note-found .search-actions button {
  visibility: visible;
}

.table td, .table th {
  vertical-align: middle;
}

.table th:last-child,
.table td:last-child {
  max-width: 50px; /* Ajusta el valor según tus necesidades */
  white-space: nowrap; /* Evita que el contenido se divida en múltiples líneas */
}

@media (max-width: 1024px) {
  .table th:last-child,
  .table td:last-child{
    display: none;
  }
}

/*******************/
/***** BOX LIST ****/
/*******************/

.search-note-box {
  transition: transform 0.2s ease;
}

.search-note-box:hover {
    border-color : var(--primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(var(--secondary-rgb), 0.6);
    transform: scale(1.05); /* Aumenta el tamaño en un 5% */
}

/*******************/
/*** SEARCH PILL ***/
/*******************/

.search-pill {
    display: flex;
}

.search-pill button {
    background-color: var(--primary);
    padding: 0.5rem 0.75rem;
    color: var(--bg);
    border: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.search-pill button:nth-child(1) {
    border-radius: 50px 0 0 50px;
}

.search-pill button:nth-child(2) {
    border-radius: 0;
}

.search-pill button:nth-child(3) {
    border-radius: 0 50px 50px 0;
}

.search-pill button:not(.active) {
    opacity: 0.4;
    background-color: var(--bg);
    color: var(--primary);
}

.search-pill button:not(.active) img {
    filter: var(--filter-primary);
}

.search-pill button:not(.active):hover {
    opacity: 1;
    background-color: var(--bg);
    color: var(--primary);
}

.search-pill button:not(.active):hover img {
    filter: var(--filter-primary);
}

.subject-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30ch;
}