.graph {
	position: relative;
	min-width: 300px;
	min-height: 120px;
}

.circle {
	position: absolute;
	border-radius: 50%;
}

.line {
	position: absolute;
	background-color: var(--text);
	width: 1.5px;
	height: 60px;
}

.circle1 {
	top: 10px;
	left: 0;
	width: 15px;
	height: 15px;
	background-color: var(--secondary);
}

.line1 {
	transform-origin: bottom;
	transform: rotate(315deg);
	left: 60px;
	top: 10px;
	/* Adjust the position as needed */
}

.circle2 {
	bottom: 10px;
	left: 60px;
	width: 40px;
	height: 40px;
	background-color: var(--dark-secondary);
}

.line2 {
	transform-origin: bottom;
	transform: rotate(45deg);
	left: 100px;
	top: 10px;
	/* Adjust the position as needed */
}

.circle3 {
	top: 0px;
	left: 145px;
	width: 30px;
	height: 30px;
	background-color: var(--secondary);
}

.line3 {
	transform-origin: bottom;
	transform: rotate(315deg);
	left: 205px;
	top: 15px;
	height: 45px;
	/* Adjust the position as needed */
}

.circle4 {
	bottom: 32px;
	left: 207px;
	width: 30px;
	height: 30px;
	background-color: var(--dark-secondary);
}

.line4 {
	transform-origin: bottom;
	transform: rotate(45deg);
	left: 240px;
	top: 30px;
	height: 30px;
	/* Adjust the position as needed */
}

.circle5 {
	top: 18px;
	left: 262px;
	width: 20px;
	height: 20px;
	background-color: var(--secondary);
}

.info1 {
	position: absolute;
	bottom: 5px;
	left: 105px;
}

.info2 {
	position: absolute;
	bottom: 20px;
	left: 245px;
}