h2 {
    font-size: 5em;
}

h4 {
    font-size: 2em;
}

.index-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5rem;
    padding: 0 5rem;
    width: 100%;
    margin-top: 4rem;
    justify-content: center;
}

.call-to-action-card {
    height: 350px;
    padding: 1rem 3rem;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 20px 30px 0 rgba(48, 42, 36, 0.10);
    /* transformation scale */
    transition: transform 0.5s ease;
    cursor: pointer;
    background-color: var(--bg);
}

.call-to-action-card:hover {
    transform: scale(1.05);
    outline: var(--primary) solid 2px;
    background: var(--light-primary);
    color: var(--bg);
}

[data-bs-theme=dark] .call-to-action-card:hover {
    background: var(--dark-primary);
}

.call-to-action-card img {
    width: 5rem;
    height: 5rem;
}

.call-to-action-card:hover img {
    filter: var(--filter-dark-primary);
}

[data-bs-theme=dark] .call-to-action-card:hover img {
    filter: var(--filter-light-primary);
}

.call-to-action-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
}

.call-to-action-card-title {
    font-size: 2em;
    font-weight: bold;
    color: var(--text);
}

.call-to-action-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
}

.call-to-action-card:hover p {
    color: var(--dark-primary);
}

[data-bs-theme=dark] .call-to-action-card:hover p {
    color: var(--light-primary);
}

.call-to-action-card:hover h3 {
    color: var(--dark-primary);
}

[data-bs-theme=dark] .call-to-action-card:hover h3 {
    color: var(--light-primary);
}

.apuntea-title{
    font-weight: bold;
    color: var(--primary);
}